numpy>=2.5.2
Pillow>=12.3.0
setuptools>=83.0.0
asteval>=1.0.9
regex>=2026.7.19
pybind11>=3.1.0
pybind11_global>=3.1.0
imageio>=2.37.4
opencv-python>=5.0.0.93
scipy>=1.18.0
networkx>=3.6.1
sortedcontainers>=2.4.0
matplotlib>=3.11.1